=================================================
  CLIENT: {{ client_code }} - {{ client }}
  ANSIBLE STANDARD: {{ standard_version }}
  This is a {{ env_type }} server.
=================================================
