{
        "fields": {
            "project":
            {
                "key": "{{ proj_key }}"
            },
            "summary": "{{ ticket_summary }}",
            "description": "{{ ticket_description }}",
            "labels": [ "{{ client_code }}" ],
            "issuetype": {
               "name": "Project"
            }
        }
}
