vrrp_script chk_mysqld {
  script "killall -0 mysqld"  # Cheaper than pidof
  interval 2                  # Check every 2 seconds
  weight 2                    # Add 2 points of priority if OK
  fall 2                      # Require 2 failures for OK
  rise 2                      # Require 2 successes for OK
} 

vrrp_instance VI_1 {
    state MASTER              # On the primary node, start as master
    nopreempt                 # If the other node is master, don't take over
    interface {{ interface }}
    virtual_router_id {{ virtual_router_id }}
    priority 101
    advert_int 4
    authentication {
        auth_type PASS
        auth_pass {{ auth_pass }}
    }
    virtual_ipaddress {
        {{ keepalive_vip }}
    }
 
  track_script {
    chk_mysqld
  }
}
