#######################################################################
# This file is managed by Ansible and may be overwritten at any time. #
#           LyonsCG MySQL custom configuration file.                  #
#######################################################################

[mysqld]

# GENERAL #
default_storage_engine         = InnoDB

# MyISAM #
key_buffer_size                = 64M
myisam_recover_options         = FORCE,BACKUP
myisam_sort_buffer_size	       = 128M 

# SAFETY #
max_allowed_packet             = 16M
max_connect_errors             = 1000000
skip_name_resolve

# BINARY LOGGING #
#log_bin                        = /var/lib/mysql/mysql-bin
#sync_binlog                    = 1
#binlog_format                  = MIXED
#expire_logs_days = 7

# CACHES AND LIMITS #
tmp_table_size                 = 256M
max_heap_table_size            = 256M
query_cache_type               = 1
query_cache_size               = 256M
query_cache_limit              = 32M
max_connections                = 200    # Adjust higher or lower based on RAM
thread_cache_size              = 200
open_files_limit               = 65535
table_definition_cache         = 4096
table_open_cache               = 4096

# INNODB #
innodb_flush_method            = O_DIRECT
innodb_log_files_in_group      = 3       # Match to existing config, if required
innodb_log_file_size           = 256M    # Match to existing config, if required
innodb_flush_log_at_trx_commit = 2
innodb_file_per_table          = 1
innodb_buffer_pool_size        = 1G      # Adjust higher or lower based on RAM
innodb_log_buffer_size         = 8M
innodb_thread_concurrency      = 0
innodb_buffer_pool_instances   = 1
innodb_doublewrite             = 0


# LOGGING #
log_error                      = /var/log/mysql/error.log
log_queries_not_using_indexes  = 0
slow_query_log                 = 1
slow_query_log_file            = /var/lib/mysql/mysql-slow.log
long_query_time                = 2

# BUFFERS #
read_buffer_size               = 2M
read_rnd_buffer_size           = 16M
sort_buffer_size               = 8M
join_buffer_size               = 32M
bulk_insert_buffer_size	       = 64M

#LCG OPTIONS
innodb_data_file_path          = ibdata1:12M;ibdata2:128M:autoextend   # keep default ibdata1, starting a new ibdata2
server-id                      = {{ server_id }}                       # Change "server-id" for each replication server
auto_increment_increment       = 10
auto_increment_offset          = {{ server_id }}
interactive_timeout            = 3600
wait_timeout                   = 3600
ignore-db-dir                  = lost+found                           # will ignore lost+found in database root directory

# LCG REPLICATION OPTIONS
# server-id                      = 1                                    # Change "server-id" for each replication server
# read_only                                                           # uncomment for a read-only slave
# log-slave-updates                                                   # uncomment for master-master with read slave(s)
