###############################################
#     This file is managed by Ansible.        #
# Any changes may be overwritten at any time. #
###############################################

<VirtualHost *:80>
    ServerName {{ vhost_name }}-{{ env_type | lower}}.lcgosc.com
    ServerAlias *.{{ vhost_name }}-{{ env_type | lower}}.lcgosc.com
  
        DocumentRoot /var/www/html
             <Directory /var/www/html/>
             Options Indexes FollowSymLinks MultiViews
             AllowOverride All
             </Directory>
</VirtualHost>
  
<VirtualHost *:443>
    ServerName {{ vhost_name }}-{{ env_type | lower}}.lcgosc.com
    ServerAlias *.{{ vhost_name }}-{{ env_type | lower}}.lcgosc.com
   
       DocumentRoot /var/www/html
           <Directory /var/www/html/>
           Options Indexes FollowSymLinks MultiViews
           AllowOverride All
          </Directory>
  
        SSLEngine On
        SSLProtocol  all -SSLv2 -SSLv3
        SSLCipherSuite          ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:ECDHE-ECDSA-DES-CBC3-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA:!DSS
        SSLHonorCipherOrder     On
        SSLCertificateFile /etc/pki/tls/certs/wc.lcgosc.com.crt
        SSLCertificateKeyFile /etc/pki/tls/private/wc.lcgosc.com.key
        SSLCertificateChainFile /etc/pki/tls/certs/wc.lcgosc.com.chain.crt
</VirtualHost>
